#drop-down-container ul li {
    float: left;
    position: relative;
    padding: 0px;

}

#drop-down-container ul ul {
    display: none;    
    position: absolute;
    left: 0px;
    top: 100%;
}

#drop-down-container ul ul li {
    float: none;
    margin: 10px;
}

#drop-down-container ul li ul{
    width: 300px;
}

#drop-down-container ul li:hover > ul {
    display: block;
}

#drop-down-container ul ul li:hover {
    color: black;
}